<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <!-- Browser Configs -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Website Configs --->
    <title>Confess</title>
    <link rel="icon" type="image/png" href="/media/confess-logo">
    <meta name="description" content="Share your confessions with the world while being anonymous.">
	<meta property="og:title" content="Confess">
    <meta property="og:type" content="website">
    <meta property="og:url" content="/">
    <meta property="og:image" content="/media/confess-logo">
    <meta name="theme-color" content="#4ADE80">
    <meta name="author" content="Swayam & Ayush Sehrawat">
    <meta name="keywords" content="Confess, Confessions, Chat, Friends">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/static/tailwind.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css">
</head>
<body class="bg-slate-900 select-none"> 
    <!-- Confess -->
    <div id="confess" class="text-center antialiased px-6 md:px-44 py-44 md:pb-80 md:pt-28 space-y-2">
        <img class="float-center w-28 h-28" src="/media/confess-logo" />
        <h1 class="text-slate-100 text-4xl md:text-5xl font-bold">Confess</h1>
        <p class="text-green-400">Share your confessions with the world while being anonymous.</p>
        <br> <br>
        <a href="/register">
            <button class="text-green-400 font-mono border-2 border-green-400 rounded-md px-16 py-4">Sign Up</button>
        </a>
    </div>

    <!-- About  -->
    <div id="about" class="text-left antialised px-6 md:px-44 py-20 space-y-2">
        <p class="text-slate-400">
            This is where you can post anonymous posts & your thoughts.
            These confessions will be shown once approved by the moderators.
            You can also view the confessions of others & review them.
        </p>
    </div>
</body>