<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <!-- Browser Configs -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Website Configs --->
    <title>Confess</title>
    <link rel="icon" type="image/png" href="/media/confess-logo">
    <meta name="description" content="Share your confessions with the world while being anonymous.">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/static/tailwind.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css">
</head>
<!-- x6 mdx:44 y20 -->
<body class="bg-slate-900 select-none"> 
    <!-- Confess -->
    <div id="confess" class="text-center antialiased px-6 md:px-44 py-52 md:py-72 space-y-2">
        <h1 class="text-slate-100 text-4xl md:text-5xl font-bold">Confess</h1>
        <p class="text-green-400">Share your confessions with the world while being anonymous.</p>
    </div>
</body>