<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>confess</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arbutus+Slab">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Overpass+Mono&amp;display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Animated-Text-Background.css">
    <link rel="stylesheet" href="assets/css/Community-ChatComments.css">
    <link rel="stylesheet" href="assets/css/dh-highlight-icon-heading.css">
    <link rel="stylesheet" href="assets/css/Section-Title.css">
    <link rel="stylesheet" href="assets/css/VentasPro-Login.css">
</head>

<body style="background: #1D1F21;">
    <div class="d-flex justify-content-center align-items-center" id="animatedTextBackground" style="background: #1D1F21;">
        <h1 id="animatedTextHeading">Delete Post</h1>
    </div>
    <div class="dh-highlight-text">
        <div class="container">
            <h1><i class="fa fa-trash-o" style="color: var(--bs-teal);"></i></h1>
            <h1 class="clearmargin clearpadding"><span style="color: rgba(34, 187, 187, 0.8);">Delete Post</span></h1>
            <p><span style="color: rgb(102, 102, 102);">Select the post and delete</span></p>
        </div>
        <form style="padding-bottom: 22px;margin-bottom: 1px;"><label class="form-label"><span style="color: rgb(102, 102, 102);">Label</span></label>
            <div class="dropdown"><button class="btn btn-primary dropdown-toggle text-center" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="background: var(--bs-btn-disabled-color);color: var(--bs-gray-dark);"><span style="color: rgb(102, 102, 102);">Choose</span></button>
                <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
            </div><button class="btn btn-primary" type="submit" style="margin-top: 18px;background: var(--bs-btn-active-color);"><span style="color: rgb(102, 102, 102);">Delete</span></button>
        </form>
    </div><footer class="text-center" style="background-color: #1D1F21;">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color:rgb(29,31,33);">
    <p style="color: #666;">© 2022 Copyright:</p>
    <a style="color: #666;" href="https://minidev.me">minidev</a>
  </div>
  <!-- Copyright -->
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/Animated-Text-Background.js"></script>
</body>

</html>